.tupac {
    display: none;
}

.img1 {
    width: 500px;
}

.img2 {
    width: 500px;
}

.aBoogie {
    display: none;
}

.oldSchool {
    display: flex;
    display: none;
}

.img3 {
    width: 300px;
}

.img4 {
    width: 300px;
}

.img5 {
    width: 300px;
}

.thugsMansion {
    display: none;
}

.TIC {
    display: none;
}

.cream {
    display: none;
}

.bothSchool {
    display: flex;
}

.newSchool{ 
    display:none;
}

.img6 {
    width: 300px;
}

.img7 {
    width: 300px;
}

.img8 {
    width: 300px;
}

.ml {
    display: none;
}

.dtb {
    display: none;
}

.suge {
    display: none;
}